@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}

/* .my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solid red;
}

.my-col {
  border: 3px dotted blue;
} */

.dash-actions{
  /* background-color: yellow; */
  height: 300px;
}

.sidebar {
  background-color: yellow;
  margin: none!important;
  padding: none!important;
  max-height: calc(100vh - 58px);
  overflow: auto;
}

.filter-queries {
}

.table-container-vh {
  min-height: calc(100vh - 50px);
  background-color: GREY;
}

.details-table-container-vh {
  min-height: calc(100vh - 112px);
  background-color: grey;
}

.details-bar {
  background-color: green;
}

.nav-sidebar a {
  display: block!important;/* Make the links appear below each other */
}

/* Style the tab */
.nav-panel {
  float: right;
  background-color: #343A40;
  width: 56px;
  min-height: calc(100vh - 50px);
}

/* Style the buttons that are used to open the tab content */
.nav-panel button {
  display: block!important;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
} */

/*Profile Pic Start*/

.picture-container{
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 100%;
    height: 150px;
    background-color: #fdfdfd;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;

}
/*Profile Pic End*/
